
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>

        <h3>Index</h3>
        <br />
        你好!我準備開始跨入MVC了!
        <br />
        如果只有改View裡面的顯示東西，案F5重新整理就可以顯示了。否則都要重新Compile
        <hr />
        測試ViewData的A: @ViewData["A"]; <br />
        
        測試ViewBag的B: @ViewBag.B;      <br />
        
        測試TempData的C: @TempData["C"]; <br />
        <hr />
    </div>
</body>
</html>
